<header class="header">
    <% if (locals.isLogged) { %>
        <p id="user-logged-id" class="hidden"><%= userLogged.id %> </p>
    <% } %>
    <nav class="nav--bar">
        <div class="contenedor--logo">
            <a href="/">
                <img src="/img/logo-digitalcommerce-naranja.png" alt="Logo" class="logo">
            </a>
        </div>
        <div class="navbar">
            <a href="/">Home</a>
            <div class="dropdown">
                <button class="dropbtn">Productos
                </button>
                <div class="dropdown-content">
                    <% categories.forEach(cat => { %>
                        <a href="/product/category/<%= cat.id %>"><%= cat.name %></a>
                    <% }) %>
                    <% if (locals.isLogged && userLogged.users_categories_id==1) { %>
                        <a href="/product/create-product/">Crear Producto</a>
                    <% } %>

                </div>
            </div>
            <a href="/about">Nosotros</a>
            <% if (locals.isLogged && userLogged.users_categories_id==1) { %>
                <a href="http://localhost:3000" target="_blank">Dashboard</a>
            <% } %>

        </div>
        <!-- <ul>
            <li><a href="/" class="link">Inicio</a></li>
            <li><a href="/productDetail" class="link">Productos</a></li>
            <li><a href="/about" class="link">Nosotros</a></li>
            <li><a href="#" class="link">Contacto</a></li>
        </ul>-->

        <div class="contenedor--buscador">
            <form action="/product/search" method="GET">
                <input type="text" class="input--buscador" name='search' placeholder="Buscar...">
                <button id="searchBtn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>

        <div class="navbar2">
                
            <%if(locals.isLogged){%>
                <div class="user-options-logged">
                    <li class="iniciar-sesion">
                        <a href="/user/profile" id="dropUser" role="button" class="nav-link dropdown-toggle">
                            <img src="/img/users/<%=userLogged.avatar%>" alt="user_image" width="40" class="user-image"><%=userLogged.name%>
                        </a>
                    </li>
                    <div class="registro">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                        <a href="/user/logout">Cerrar sesión</a>
                    </div>
                    <div class="carro-compras">
                        <a href="/product/product-cart" class="link-carro">
                            <div class="cart-logo-container">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <span class="products-amount">0</span>
                            </div>
                            <p class="precio--total">$ <span id="total-price-cart">0</span></p>
                        </a>
                    </div>
                </div>
                
                <div class="responsive-menu">
                    <div class="user-menu">
                        <i class="fa-solid fa-user"></i>
                    </div>
                    <ul class="menu-list-logged hidden">
                        <li class="iniciar-sesion">
                            <a href="/user/profile" id="dropUser" role="button" class="nav-link dropdown-toggle">
                                <img src="/img/users/<%=userLogged.avatar%>" alt="user_image" width="40" class="user-image"><%=userLogged.name%>
                            </a>
                        </li>
                        <div class="registro">
                            <i class="fa-solid fa-arrow-right-from-bracket"></i>
                            <a href="/user/logout">Cerrar sesión</a>
                        </div>
                        <div class="carro-compras shopping-cart-container">
                            <a href="/product/product-cart" class="link-carro">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <p class="precio--total">$ <span id="total-price-cart">0</span></p>
                                <span class="products-amount">0</span>
                            </a>
                        </div>
                    </ul>
                </div>
            <%}else{%>
                <div class="user-options-unlogged">
                    <div class="iniciar-sesion">
                        <i class="fas fa-sign-in-alt"></i>
                        <a href="/user/login-form">Iniciar sesión</a>
                    </div>
                    <div class="registro">
                        <i class="fas fa-user"></i>
                        <a href="/user/registration-form" >Registrate</a>
                    </div>
                </div>
                
                <div class="responsive-menu">
                    <div class="user-menu">
                        <i class="fa-solid fa-user"></i>
                    </div>
                    <div class="menu-list-unlogged hidden">
                        <div class="iniciar-sesion">
                            <i class="fas fa-sign-in-alt"></i>
                            <a href="/user/login-form">Iniciar sesión</a>
                        </div>
                        <div class="registro">
                            <i class="fas fa-user"></i>
                            <a href="/user/registration-form" >Registrate</a>
                        </div>
                    </div>
                    
                </div>
            <%}%>
          

        </div>


        <!--<div class="iniciar-sesion">
            <i class="fas fa-sign-in-alt"></i>           
            <a href="/loginForm">Iniciar sesión</a>
             <p class="texto-inicio-sesion">Iniciar sesion</p>
        </div>
        <div class="registro">
            <i class="fas fa-user"></i>
            <a href="/registrationForm">Crear cuenta</a>
        </div>-->
       
        <!-- <div class="menu--hamburguesa">
            <i class="fa-solid fa-bars"></i>
        </div> -->
    </nav>
</header>