    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/header_footer.css">
    <link rel="stylesheet" href="/css/create-modify.css">
    <script src="/scripts/createProductValidations.js"></script>
    <title>Crea tu producto</title>
</head>



<body>
    <%-include('./partials/header')%>

        <main class="main">



            <div class="contenedor-titulo-h4">
                <h4 class="titulo-h4">Creá tu Producto</h4>
            </div>
            <section class="seccion-carga-producto">
                <div class="contenedor-imagen-producto">
                    <section class="image">
                        <img src="/img/pava.jpg" alt="producto" class="imagen-producto">
                    </section>
                    <section class="other-images">
                        <article>
                            <img src="/img/pava.jpg" alt="producto">
                        </article>
                        <article>
                            <img src="/img/pava.jpg" alt="producto">
                        </article>
                        <article>
                            <img src="/img/pava.jpg" alt="producto">
                        </article>
                        <article>
                            <img src="/img/pava.jpg" alt="producto">
                        </article>
                    </section>
                </div>

                <form action="" method="POST" class="formulario" enctype="multipart/form-data">

                    <div class="contenedor-input">
                        <label class="label" for="nombre">Nombre del Producto</label>
                        <input class="campos" name="name" type="text" placeholder="..." id="name" value="<%=locals.oldData && oldData.name ? oldData.name:''%>">
                        <div class="name-errors">
                            <% if (locals.errors && errors.name) { %>
                                <p class="error"><%= errors.name.msg  %> </p>
                            <% } %>
                        </div>
                    </div>

                    <div class="contenedor-input">
                        <label class="label" for="descripcion">Descripción del producto</label>
                        <textarea name="description" class="campos textarea" id="description" cols="30" rows="4"><%=locals.oldData && oldData.description ? oldData.description:''%></textarea>
                    <div class="description-errors">
                        <% if (locals.errors && errors.description) { %>
                            <p class="error"><%= errors.description.msg  %> </p>
                        <% } %>
                    </div>
                    </div>

                    <div class="contenedor-input">
                        <label class="label" for="imagenDelProducto">Foto(s) del Producto</label>
                        <input class="campos campo-select" type="file" placeholder="..."
                            id="image" multiple name="image">
                            <div class="image-errors">
                                <% if (locals.errors && errors.image) { %>
                                    <p class="error"><%= errors.image.msg  %> </p>
                                <% } %>
                            </div>
                    </div>

                    <div class="contenedor-input">
                        <label class="label" for="category">Categoria del Producto</label>
                        <select class="campos campo-select <%= locals.errors && errors.category ? 'invalid' : '' %>" name="category" id="category">
                            <option value="" disabled selected>Seleccione la Categoria</option>
                            <%categories.forEach(cat=>{%>
                                <option value=<%=cat.id%> <%=locals.oldData && oldData.category ? 'selected':''%>><%=cat.name%></option>
                                
                            <%})%>
                        </select>
                        <div class="category-errors">
                            <% if (locals.errors && errors.category) { %>
                                <p class="error"><%= errors.category.msg  %> </p>
                            <% } %>
                        </div>

                    </div>

                    <div class="contenedor-input">
                        <label class="label" for="price">Precio del Producto</label>
                        <input class="campos" type="number" placeholder="..." id="price" name="price" value="<%=locals.oldData && oldData.price ?  oldData.price:''%>">
                        <div class="price-errors">
                            
                        </div>
                        <label class="label" for="discount">Descuento:</label>
                        <input class="campos" type="number" placeholder="..." id="discount" name="discount" value="<%=locals.oldData && oldData.discount ? oldData.discount:''%>">
                    </div>
                    <div class="checkbox">
                        <div class="option-cb">
                            <input type="checkbox" name="featured" value='checked' id="featured">Producto Destacado
                        </div>
                    </div>


                    <div class="button-container">
                        <button type="submit"  class="button">Crear producto</button>
                    </div>


                </form>
            </section>


        </main>

        <%-include('./partials/footer')%>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>